Content of the GPL Archive Request Email:

```text
Subject: GPL Archive Request: {{ device_name }} {{ firmware_version }}
To: "Ubiquiti Open Source Requests Team" <opensource-requests@ui.com>

    Hi Open Source Requests team!

    Can you please provide me with the following GPL dump:

    Device: {{ device_name }}
    Firmware Version: {{ firmware_version }}

    Many thanks,
```

> **Note:** This email still actually has to be sent! React with :rocket: to this comment to indicate that you have sent the email.
