# Release {{ release_tag }}

## Supported firmware versions

{% for device in devices -%}
### {{ device }}
    {% for firmware in firmwares -%}
        - [{{ firmware }}](https://community.ui.com/releases/r/udr/{{firmware}})
    {% endfor %}
{% endfor %

## Installation

1. Get the file `setup_macvlan.sh` from the release assets below and transfer it to the UnifiOS device
1. Run it on the device via ssh `bash ./setup_macvlan.sh`
1. Run the script `/data/on_boot.d/01-load-macvlan-module.sh`
1. Continue what you were doing before that relied on having `macvlan` available

## SHA256 Checksums

```
{% for filename, sha256sum in checksums.items() -%}
    {{ sha256sum }}  {{ filename }}
{% endfor -%}
```
